/node_modules
/public/css
/public/js
/public/hot
/public/storage
/public/vendor/*
!/public/vendor/ketcher
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
