{
    "trailingComma": "es5",
    "printWidth": 100,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
