#Header add Strict-Transport-Security "max-age=31536000"
#Header add X-Content-Type-Options "nosniff"
#Header add X-Download-Options "noopen"
#Header add X-Frame-Options "sameorigin"
#Header add X-Permitted-Cross-Domain-Policies "none"
#Header add X-XSS-Protection "1; mode=block"

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Remove www from any URL
    #RewriteCond %{HTTP_HOST} ^www\. [NC]
    #RewriteRule ^(.*)$ http://mydomain.com/$1 [R=301,L]

    # Redirect to https
    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    #RewriteRule ^(.*) https://%{SERVER_NAME}$1 [R=301,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>
