// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin-ext");

// Libraries
@import "~bootstrap/scss/functions";
@import "custom";
@import "~bootstrap/scss/bootstrap";

@import "partials/common";
@import "partials/animate";
@import "partials/fontawesome";
@import "partials/loading";
@import "partials/sidebar";
@import "partials/typeahead";
@import "partials/vue-multiselect";

.card {
    box-shadow: $box-shadow-sm;
}

/* @media print {
    #sidebar-overlay {
        @extend .no-print;
    }
} */

.toolbar-group {
    .btn:not(:last-child),
    .toolbar-item:not(:last-child) {
        margin-right: 0.3rem;
    }
}

.card-tools {
    a:not(:last-child),
    .btn:not(:last-child) {
        margin-right: 0.3rem;
    }
}

html {
    font-size: 15px;
}

a {
    font-weight: 600;
}

.structure-sketcher {
    margin: 0;
    padding: 0;
    border-style: none;
    width: 100%;
    min-height: 510px;
}

.structure-render {
    width: 100%;
    height: 300px;
    padding: 0;
}

.structure-data {
    position: relative;
    padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  
    .clipboard {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      padding: 0.2rem 0.3rem;
      background-color: $border-color;
      border-top-right-radius: $border-radius;

      transition: $transition-base;

      &:hover {
          background-color: $primary;
      }
    }
  }

.treeview {
    .list-group-item {
        cursor: pointer;
    }

    $nodes: 1, 2, 3, 4, 5, 6;

    @each $node in $nodes {
        .icon-#{$node} {
            margin-left: #{$node}rem;
        }
    }

    .icon {
        margin-right: 0.5rem;
    }

    .node-disabled {
        color: silver;
        cursor: not-allowed;
    }

    .node-hidden {
        display: none;
    }
}
