@import "customVariables";
@import "bootstrap";
@import "bootstrap-select/bootstrap-select";
@import "font-awesome/font-awesome";

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.page-header {
  margin: 20px 0 20px;
}

#main {
    min-height: 600px;
}

a, .panel-heading:not(.regular) {
    font-weight: bold;
}

.pagination {
    margin: 10px 0px 0px 0px;
}

h2.inline, h3.inline, p.inline, .inline {
    display: inline;
}

.alert-hidden {
    display: none;
}

tr.clickable td:not(.text-center){
    cursor: pointer;
}

iframe {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
    width: 100%;
    height: 504px;
}

.modal-sketcher {
    padding: 0px 0px 0px 0px;
    background-color: #eee;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

nav a span.fa, table a span.fa { font-size: ceil(($font-size-base * 1.1)); }

.fa-common-alert-danger:before { content: "\f06a"; }
.fa-common-alert-success:before { content: "\f058"; }
.fa-common-alert-close:before { content: "\f00d"; }
.fa-common-back:before { content: "\f053"; }
.fa-common-date:before { content: "\f073"; }
.fa-common-save:before,
.fa-common-submit:before { content: "\f0c7"; }
.fa-common-search:before { content: "\f002"; }

.fa-nav-chemicals:before { content: "\f0c3"; }
.fa-nav-compounds:before { content: "\f219"; }
.fa-nav-labs:before { content: "\f275"; }
.fa-nav-management:before { content: "\f085"; }
.fa-nav-options:before { content: "\f0c9"; }

.fa-admin-index:before { content: "\f085"; }
.fa-admin-overview:before { content: "\f1fe"; }
.fa-admin-dbbackup:before { content: "\f1c0"; }
.fa-admin-dbbackup-show:before { content: "\f019"; }
.fa-admin-cache:before { content: "\f02c"; }
.fa-admin-cache-show:before { content: "\f02b"; }
.fa-admin-cache-update:before { content: "\f021"; }

.fa-user:before { content: "\f007"; }
.fa-user-index:before { content: "\f0c0"; }
.fa-user-log-in:before { content: "\f090"; }
.fa-user-log-out:before { content: "\f08b"; }
.fa-user-profile:before { content: "\f05a"; }
.fa-user-profile-language:before { content: "\f1ab"; }
.fa-user-profile-listing:before { content: "\f03a"; }
.fa-user-email:before { content: "\f0e0"; }
.fa-user-password:before { content: "\f084"; }

.fa-role-user:before { content: "\f007"; }
.fa-role-index:before,
.fa-permission-role:before,
.fa-user-role:before { content: "\f0b1"; }

.fa-permission-index:before,
.fa-role-permission:before { content: "\f070"; }

.fa-brand-index:before { content: "\f02a"; }
.fa-department-index:before,
.fa-store-department:before{ content: "\f1ad"; }
.fa-store-index:before,
.fa-chemical-store:before { content: "\f01c"; }

.fa-chemical-index:before { content: "\f0c3"; }
.fa-chemical-recent:before { content: "\f02e"; }
.fa-chemical-search:before { content: "\f002"; }
.fa-chemical-search-structure:before { content: "\f05b"; }
.fa-chemical-search-sketcher-submit:before,
.fa-structure-sketcher-submit:before { content: "\f1ce"; }

.fa-chemical-chemspider-link:before,
.fa-chemical-pubchem-link:before { content: "\f08e"; }

.fa-chemical-data:before,
.fa-chemical-data-cactus-select:before { content: "\f0ac"; }

.fa-chemical-items:before { content: "\f1b3"; }
.fa-chemical-item:before { content: "\f1b2"; }

.fa-compound-index:before { content: "\f219"; }
.fa-compound-owner:before { content: "\f007"; }

span.fa[class$="-show"]:before { content: "\f096"; }
.fa-chemical-item-add:before,
span.fa[class$="-create"]:before { content: "\f067"; }
//span.fa[class$="-edit"]:before { content: "\f044"; }
span.fa[class$="-edit"]:before { content: "\f040"; }
.fa-chemical-item-delete:before,
span.fa[class$="-delete"]:before { content: "\f1f8"; }
span.fa[class$="-export"]:before { content: "\f093"; }

.fa-chemical-item-date:before { content: "\f017"; }
.fa-chemical-item-save:before { content: "\f0c7"; }
.fa-chemical-item-saved:before { content: "\f164"; }
