// Variables
@import "variables";

// Libraries
@import "~bootstrap/scss/bootstrap";
//@import "~bootstrap-select/sass/bootstrap-select";
@import "~font-awesome/scss/font-awesome";
@import "~datatables.net-bs4/css/dataTables.bootstrap4";
@import "~datatables.net-select-bs4/css/select.bootstrap4";
@import "../css/vendor/typeaheadjs";
@import "../css/vendor/bootstrap-select";

html {
  font-size: 14px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.breadcrumb {
  border: 1px solid;
  border-color: #ddd;

  .no-divider::before {
    content: '';
  }
}

a {
  font-weight: bold;
}

button.btn {
  cursor: pointer;
}

.alert-hidden {
  display: none;
}

.input-group input.typeahead {
  width: 100% !important;
}

table.table-list td,
table.table-list th {
  vertical-align: middle;

  &:first-of-type {
    padding-left: 5px;
    padding-right: 5px;
  }

  &:last-of-type {
    text-align: center;
  }
}

table.table-list td.word-break {
  word-wrap: break-word !important;
  word-break: break-all !important;
}

iframe.structure-sketcher {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 100%;
  min-height: 510px;
}

div.structure-render {
  width: 100%;
  height: 300px;
  padding: 0;
}

.custom-file {
  width: 100%;
}

.custom-file-input,
.custom-file-control {
  cursor: pointer;
}

.custom-file-control:lang(cs)::after,
.custom-file-control:lang(en)::after {
  content: '';
}

.treeview .list-group-item {
  cursor: pointer;
}

.treeview span.indent {
  margin-left: 10px;
  margin-right: 10px;
}

.treeview span.icon {
  width: 12px;
  margin-right: 5px;
}

.treeview .node-disabled {
  color: silver;
  cursor: not-allowed;
}

.treeview .node-hidden {
  display: none;
}

.fa-common-alert-danger:before {
  content: "\f06a";
}

.fa-common-alert-success:before {
  content: "\f058";
}

.fa-common-alert-close:before {
  content: "\f00d";
}

.fa-common-date:before {
  content: "\f073";
}

.fa-common-save:before,
.fa-common-submit:before {
  content: "\f0c7";
}

.fa-common-search:before {
  content: "\f002";
}

.fa-nav-chemicals:before {
  content: "\f0c3";
}

.fa-nav-compounds:before {
  content: "\f219";
}

.fa-nav-management:before {
  content: "\f085";
}

.fa-nav-options:before {
  content: "\f0c9";
}

.fa-admin-index:before {
  content: "\f085";
}

.fa-admin-overview:before {
  content: "\f1fe";
}

.fa-admin-dbbackup:before {
  content: "\f1c0";
}

.fa-admin-dbbackup-show:before {
  content: "\f019";
}

.fa-admin-cache:before {
  content: "\f02c";
}

.fa-admin-cache-show:before {
  content: "\f02b";
}

.fa-admin-cache-clear:before {
  content: "\f1f8";
}

.fa-profile:before,
.fa-profile-index:before {
  content: "\f05a";
}

.fa-profile-language:before {
  content: "\f1ab";
}

.fa-profile-listing:before {
  content: "\f03a";
}

.fa-user:before {
  content: "\f007";
}

.fa-user-index:before {
  content: "\f0c0";
}

.fa-user-log-in:before {
  content: "\f090";
}

.fa-user-log-out:before {
  content: "\f08b";
}

.fa-user-email:before {
  content: "\f0e0";
}

.fa-user-password:before {
  content: "\f084";
}

.fa-role-user:before {
  content: "\f007";
}

.fa-role-index:before,
.fa-permission-role:before,
.fa-user-role:before {
  content: "\f2c1";
}

.fa-permission-index:before,
.fa-role-permission:before {
  content: "\f070";
}

.fa-common-badge-assigned:before {
  content: "\f056";
}

.fa-common-badge-not-assigned:before {
  content: "\f055";
}

.fa-brand-index:before {
  content: "\f02a";
}

.fa-role-store:before,
.fa-store-index:before {
  content: "\f01c";
}

.fa-chemical-index:before {
  content: "\f0c3";
}

.fa-chemical-chemspider-link:before,
.fa-chemical-pubchem-link:before {
  content: "\f08e";
}

.fa-chemical-data:before,
.fa-chemical-data-cactus-select:before {
  content: "\f0ac";
}

.fa-structure-sketcher-submit:before {
  content: "\f1ce";
}

.fa-chemical-item-count:before,
.fa-chemical-item-index:before {
  content: "\f1b3";
}

.fa-chemical-item-title:before {
  content: "\f1b2";
}

.fa-chemical-item-amount:before {
  content: "\f24e";
}

.fa-nmr-index:before {
  content: "\f076";

  @include fa-icon-rotate(90, 1);
}

.fa-compound-index:before {
  content: "\f219";
}

.fa-compound-owner:before {
  content: "\f007";
}

span.fa[class$="-show"]:before {
  content: "\f15b";
}

span.fa[class$="-download"]:before {
  content: "\f019";
}

span.fa[class$="-create"]:before {
  content: "\f067";
}

//span.fa[class$="-edit"]:before { content: "\f044"; }
span.fa[class$="-edit"]:before {
  content: "\f040";
}

span.fa[class$="-delete"]:before {
  content: "\f1f8";
}

span.fa[class$="-export"]:before {
  content: "\f093";
}

div.dataTables_wrapper {
  padding: 0 !important;
  margin: inherit !important;
}

table.dataTable {
  border-collapse: collapse !important;
  margin: inherit !important;
}

// Adjust Datatables to FontAwesome icons

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  font-family: "FontAwesome";
  bottom: 0.3em;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 0.5em;
  content: "\f0de";
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "\f0dd";
}

table.dataTable tbody td.select-checkbox,
table.dataTable tbody th.select-checkbox {
  min-width: 10px;
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
  font-family: "FontAwesome";
  width: 14px;
  height: 14px;
  margin-top: -11px;
  margin-left: -4px;
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before {
  content: "\f096";
  border: none;
}

table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
  content: "\f046";
  text-shadow: none;
}

/*
div.dataTables_wrapper div.dataTables_filter {
    text-align: center;
}

div.dataTables_wrapper div.dataTables_filter input {
    width:100%;
}
div.dataTables_wrapper div.dataTables_length {
    float: left;
}

div.dataTables_wrapper div.dataTables_paginate {
    float: right;
}
*/

.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #337ab7 !important;
}

.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
  display: block;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}
