@charset "UTF-8";
$animationDuration: 0.5s !default;
$quoteAnimationNames: false !default;

@import "~vue2-animate/src/sass/make-transitions";
@import "~vue2-animate/src/sass/animations/fading/fade";
@import "~vue2-animate/src/sass/animations/fading/fadeDown";
@import "~vue2-animate/src/sass/animations/fading/fadeUp";
$fades: Down, Up;
@include make-transitions(fade, $fades);
