.scroll-top {
    color: $white;
    background-color: $primary;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 900;
    bottom: 1em;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 .125rem .25rem rgba($black, .1);

    transition: all .2s ease-in-out;
    transform: translate(7em, 0);

    &.show {
        transform: translate(0, 0);
    }

    &:hover {
        background-color: darken($primary, 5%);
        //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.26);
        box-shadow: 0 .5rem 1rem rgba($black, .2);
    }
}

form {
    @include media-breakpoint-up(md) {
        label {
            text-align: right;
        }
    }
}
