.v--modal-background-click {
    display: flex;
    justify-content: center;
    //align-items: center;
    min-height: auto !important;
}

.v--modal-box {
    left: initial !important;
}

.v--modal-carousel-image {
    //align-self: center;
    //top: auto !important;
    //left: auto !important;
    max-width: 1200px !important;
    //height: auto !important;
    width: auto !important;
}
